@import "var";


#nav-profile {
  padding: 0 $paddingLeft;
  #avatar-input {
    display: none;
  }
  #profile-avatar-filter {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    padding-bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    background: linear-gradient(180deg, transparent 75%, rgba(black, 0.2) 25%);
    @include text(20px, $lightWeight, white);
  }
  .input-label {
    @include text(12px, $mediumWeight, black);
  } 
  input {
    outline: none;
    height: 30px;
    border: none;
    @include text(12px, $lightWeight, black)
  }
  #profile-name-email {
    margin-top: $paddingLeft;
    width: 100%;
    display: flex;
    justify-content: space-between;
    label {
      width: 45%;
      input {
        padding: 0;
        border-bottom: $lightBorder;
      }
    }
  }
  #gender-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: $paddingLeft;
    @include text(12px, $lightWeight, black);
    .gender {
      width: 45%;
    }
    input {
      height: 15px;
      @include text(12px, $lightWeight, black)
    }
  }
  .react-date-picker__inputGroup {
    @include text(12px, $lightWeight, black);
    letter-spacing: -0.07em;
  }

  #date-picker-input-label {
    margin-top: $paddingLeft;
    width: 100%;
    display: flex;
    align-items: center;
    .react-date-picker__wrapper {
      padding: 0 7px;
      margin-left: 10px;
    }
  }
  #desc-textarea-container {
    width: 100%;
    margin: $paddingLeft 0;

  }
  textarea {
    width: 100%;
    resize: none;
    outline: none;
    border: $lightBorder;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    @include text(12px, $lightWeight, black);
    font-family: $mainFontFam;
  }
  
  #profile-btn-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    button {
      width: 35%;
      @include displayCenter();
      border: none;
      padding: 10px 0;
      border-radius: 5px;
    }
    #profile-submit {
      @include buttonHover();
      background-color: $mainColor;
      @include text(14px, $mediumWeight, white)
    }
    #profile-reset {
      @include whiteButtonHover();
      @include text(14px, $mediumWeight, $mainColor)
    }
  }

  .react-date-picker__button {
    display: none;
  }

  .err-message {
    height: 12px;
    @include text(11px, $lightWeight, $redError)
  }
  .success-message {
    height: 12px;
    @include text(11px, $lightWeight, $greenSuccess)
  }
}

.react-date-picker__inputGroup {
  .react-date-picker__inputGroup__day, 
  .react-date-picker__inputGroup__month, 
  .react-date-picker__inputGroup__year,
  input {
    border: none
  }

  
}