@import "var";
$bgUrl: 'https://images.unsplash.com/photo-1516653596519-e001baef98fe?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80';

@mixin clickButton() {
  transition: all 0.4s;
  &:hover {
    background-color: rgba($lightGrey, 0.4);
  }
  &:active {
    opacity: 0.6;
  }
}

.link {
  color: black;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

#landing {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
}
#landing-bg {
  height: 100%;
  width: 100%;
  background-image: url($bgUrl);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: right;
  
}

#landing-bg-filter {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, white, transparent);
  display: flex;
  justify-content: flex-end;
}

#landing-content {
  padding: 8vw 18vw 0 0;
}

#landing-title {
  @include text(70px, $boldWeight, $mainColor);
  text-shadow: white;
}

#landing-sub-title {
  @include text(25px, $lightWeight, $mainColor);
}
#landing-signup {
  margin: 30px 0;
}
#landing-signup-button {
  padding: 10px 20px;
  @include text(17px, $mediumWeight, $charcoal);
  border-radius: 7px;
  border: $lightBorder;
  @include clickButton();
}

#landing-auth-button {
  @include text(17px, $mediumWeight, $mainColorDark);
  @include clickButton();
  div {
    transition: all 0.4s;
    &:hover {
      opacity: 0.7;
    }
  }
  div>#landing-auth-user-name {
    font-weight: $boldWeight;
  }
}

#landing-signin-button {
  @include text(12px, $lightWeight, $charcoal);
  @include clickButton();
}