$mainFontFam: 'Sora', sans-serif;
$lightWeight: 300;
$mediumWeight: 500;
$boldWeight: 700;

$lightGrey: #cccccc;
$mainColor: #a778b6;
$charcoal: #333333;
$lightBorder: 0.5px solid $lightGrey;
$footerNavHeight: 75px;
$rightNavWidth: 350px;

@mixin displayCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text($size: 12px, $weight: $lightWeight, $color: black) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin smoothTransition {
  transition: all 0.4s;
}

* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: 'Sora', 'sans-serif';
  position: fixed;
  overflow: hidden;
}


#main-screen {
  height: 100%;
  display: grid;
  grid-template-columns: $rightNavWidth auto;
}

#nav {
  border-right: $lightBorder;
  display: grid;
  grid-template-rows: $footerNavHeight auto $footerNavHeight;
}

#nav-logo {
  // @include text(30px, $lightWeight, black);
  @include displayCenter();
  border-bottom: $lightBorder;

  img {
    margin: 0 10px;
  }
}

#nav-body {
  border-bottom: $lightBorder;
}

#nav-titles {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.nav-title {
  cursor: pointer;
  width: 80px;
  padding: 7px 0;
  border-radius: 99px;
  @include displayCenter();
  @include smoothTransition()
}

.chosen-nav-title {
  background-color: $mainColor;
  @include text(14px, $mediumWeight, white);
}

.chosen-nav-title:hover {
  background-color: rgba($mainColor, 0.7);
}

.unchosen-nav-title {
  background-color: transparent;
  @include text(14px, $mediumWeight, $charcoal);
}

.unchosen-nav-title:hover {
  background-color: rgba(#cccccc, 0.2); 
}

#nav-footer {
  cursor: pointer;
  display: flex;
}
#nav-footer-avatar {
  height: $footerNavHeight;
  width: $footerNavHeight;
  border-right: $lightBorder;
}
#nav-footer-text {
  width: $rightNavWidth - $footerNavHeight - 0.5px;
  @include displayCenter();
  @include text(18px, $lightWeight, $mainColor);
  @include smoothTransition();
  span {
    @include smoothTransition()
  }
}
#nav-footer-text:hover {
  background-color: rgba($lightGrey, 0.1);
}
#nav-footer-text:active {
  background-color: rgba($lightGrey, 0.3);
}
@media only screen and (max-width: 700px) {
  #main-screen {
    display: flex;
    flex-direction: column;
  }
  #nav {
    display: none;
  }
  @media only screen and (min-aspect-ratio: 3/2) {
    
  }
}

.my-card {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 65% 35%;

  .my-card-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .my-card-info {
    .my-card-title {
      margin-top: 15px;
      @include text(22px, $boldWeight, $charcoal);
      text-align: center;
    }
  }
}

#main {
  display: grid;
  grid-template-rows: 90% 10%;

  #cards-stack {
    position: fixed;
    overflow: hidden;
    width: 75%;
    height: 100%;
    cursor: pointer;
    @include displayCenter()
  }
  
  #cards-stack > .card-container {
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #cards-stack > .card-container > .card {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50vh;
    // max-width: 300px;
    height: 70vh;
    // max-height: 570px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 10px 12.5px 10px -10px rgba(168, 168, 168, 0.4);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    @include smoothTransition();
    cursor: pointer;

    .card-info {
      width: 100%;
      height: 35%;
      background-image: linear-gradient(to top, rgba(44, 44, 44, 0.7), rgba(255, 255, 255, 0));
    }
    .big-info {
      @include text(26px, $boldWeight, white);
      margin: 0 15px;
    }
    .small-info {
      @include text(16px, $lightWeight, white);
      margin: 0 15px;
    }
    .info-icon {
      @include smoothTransition();
      &:hover {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.6;
      }
    }
  }
}

.match-part {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px;
  
  cursor: pointer;
  .match-card-container {
    height: 140px;
    width: 33%;
    @include smoothTransition();
    .match-card {
      height: calc(100% - 16px);
      width: calc(100% - 16px);
      background-color: rgba($mainColor, 0.2);
      margin: 16px 8px;
      border-radius: 5px;
    }    
    &:hover {
      opacity: 0.8;
      transform: scale(1.1);
    }
    &:active {
      opacity: 0.6;
    }
  }
}