@import "var";

* {
  box-sizing: border-box;
}

button:focus {
  opacity: 0.7;
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: 'Sora', 'sans-serif';
  position: fixed;
  overflow: hidden;
}


#main-screen {
  height: 100%;
  display: grid;
  grid-template-columns: $rightNavWidth auto;
}

#nav {
  border-right: $lightBorder;
  display: grid;
  grid-template-rows: $footerNavHeight calc(100vh - 149px) $footerNavHeight;
}

#nav-logo {
  // @include text(30px, $lightWeight, black);
  @include displayCenter();
  border-bottom: $lightBorder;

  img {
    margin: 0 10px;
  }
}

#nav-body {
  border-bottom: $lightBorder;
}

#nav-titles {
  width: $rightNavWidth - $scrollBarWidth;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}

.nav-title {
  cursor: pointer;
  width: 80px;
  padding: 7px 0;
  border-radius: 99px;
  @include displayCenter();
  @include smoothTransition()
}

.chosen-nav-title {
  background-color: $mainColor;
  @include text(14px, $mediumWeight, white);
}

.chosen-nav-title:hover {
  background-color: rgba($mainColor, 0.7);
}

.unchosen-nav-title {
  background-color: transparent;
  @include text(14px, $mediumWeight, $charcoal);
}

.unchosen-nav-title:hover {
  background-color: rgba(#cccccc, 0.2); 
}

#nav-footer {
  cursor: pointer;
  display: flex;
  div {
    position: relative;
    z-index: 15;
  }
}
#nav-footer-avatar {
  height: $footerNavHeight;
  width: $footerNavHeight;
  background-color: white;
  @include centerBg();
  @include displayCenter();
  border-right: $lightBorder;
  transition: all 0.4s;
  @include buttonHover();
  @include text(30px, $lightWeight, $mainColor)
}
#nav-footer-text {
  width: $rightNavWidth - $footerNavHeight - 1;
  height: 100%;
  background-color: white;
  @include displayCenter();
  @include text(18px, $lightWeight, $mainColor);
  @include smoothTransition();
  span {
    @include smoothTransition()
  }
}
#nav-footer-text:hover {
  background-color: #f0f0f0;
}
#nav-footer-text:active {
  background-color: #ececec;
}
@media only screen and (max-width: 700px) {
  #main-screen {
    display: flex;
    flex-direction: column;
  }
  #nav {
    display: none;
  }
  @media only screen and (min-aspect-ratio: 3/2) {
    
  }
}

#main-chat {
  width: 100%;
  display: grid;
  grid-template-columns: calc(100% - 330px) 330px;
}