@import "var";

#nav-profile {
  height: 100%;
  width: $rightNavWidth;
  display: flex;
  flex-direction: column;
  align-items: center;
  #profile-avatar {
    cursor: pointer;
    width: $rightNavWidth * 0.3;
    height: $rightNavWidth * 0.3;
    @include centerBg();
    border: $lightBorder;
    border-radius: 50%;
    margin-top: $paddingLeft*1.2;
  }
  #profile-name {
    @include text(22px, $mediumWeight, $charcoal);
    margin-top: $paddingLeft*1.2;
  } 
  #profile-sub-info {
    @include text(14px, $lightWeight, $charcoal);
  } 
}

.profile-opt {
  cursor: pointer;
  width: $rightNavWidth;
  padding-left: $paddingLeft * 2;
  height: 65px;
  display: flex;
  align-items: center;

  @include text(15px, $lightWeight, black);
  @include whiteButtonHover()
}

#opt-sign-out {
  color: $redError
}