@import "var";

#nav-reset-password {
  padding: 0 $paddingLeft * 2;
  .nav-pw-title {
    width: 100%;
    text-align: left;
    @include text(22px, $boldWeight, $charcoal);
    margin-top: $paddingLeft * 2
  }
  .input-label {
    @include text(12px, $mediumWeight, black);
    margin-top: $paddingLeft * 1.5
  } 

  input {
    outline: none;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: $lightBorder;
    @include text(12px, $lightWeight, black);
  }

  .nav-pw-button {
    margin-top: $paddingLeft * 2;
    width: 100%;
    @include displayCenter();
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    @include buttonHover();
    background-color: $mainColor;
    @include text(14px, $mediumWeight, white);
    
  }
  .err-message {
    margin-top: $paddingLeft;
    @include text(11px, $lightWeight, $redError)
  }
}
