@import "var";

@mixin displayCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin text($size: 12px, $weight: $lightWeight, $color: black) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

#signup-screen {
  #signup-logo {
    @include displayCenter();
    border-bottom: $lightBorder;
    padding-top: 20;
    padding-bottom: 20;
  }
}
#signup-title {
  @include displayCenter();
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: $mainColor;
  margin: 40 0;
  span {
    font-weight: 700;
    margin-left: 0.2em;
  }
}
.signup-input, .react-date-picker__wrapper {
  border: $lightBorder;
}
.input-label {
  @include text(14px, $mediumWeight, #505050)
}
#signup-form {
  @include displayCenter();
  flex-direction: column;
  input, .react-date-picker__wrapper {
    height: 40px;
    padding: 0 5px;
    @include text(15px, $lightWeight, black);
    outline: none;
    border-radius: 7px;
  }
  #user-name {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .name {
      display: flex;
      flex-direction: column;
      width: 45%;
      //   margin: 20;
      //   padding: 10;
    }
  }
  label {
    display: flex;
    flex-direction: column;
  }

  #gender-row {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .gender {
    width: 45%;
    margin-top: 20;
    display: flex;
    flex-direction: row;
    .gender-options {
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 12;
      div {
        margin-right: 20
      }
    }
    .gender-option {
      display: flex;
      flex-direction: row;
      align-items: center;
      .option {
        margin-left: 0;
        padding: 5px 0;
        border: 0.5px solid black;
        // border-radius: 10px;
      }
      .option:hover {
        cursor: pointer;
      }
    }
  }
  
  #account {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .account-info {
      display: flex;
      flex-direction: column;
      width: 45%;
      //   margin: 20;
      //   padding: 10;
    }
  }
  .message-error {
    height: 12px;
    @include text(10px, $lightWeight, $redError)
  }
}

#personal-information {
  width: 40%;
  display: flex;
  flex-direction: row;
  margin-top: 20;
  justify-content: space-between;
  #date-picker {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45%;
  }
  #profile-picture {
    margin-top: 5;
    background-color: #ffffff;
    border: none;
    height: 10px;
    width: 45%;
  }
}

.upload-button {
  padding: 0;
  background-color: red;
}

.react-date-picker__inputGroup {
  .react-date-picker__inputGroup__day, 
  .react-date-picker__inputGroup__month, 
  .react-date-picker__inputGroup__year {
    border: 0;
  }
}

.react-date-picker__inputGroup {
  letter-spacing: 0.1em;
}

#register-button {
  @include displayCenter();
  flex-direction: column;
  margin-top: 20;
  #sign-up-error {
    height: 12px;
    margin-bottom: 7;
    @include text(12px, $mediumWeight, $redError)
  }
  #register-btn {
    padding: 10px 45px;
    @include text(15px, $mediumWeight, white);
    border-radius: 10px;
    border: none;
    background-color: $mainColor;
    transition: all 0.4s;
  }
  #register-btn:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.btn {
  border: 4.5px solid #1a1a1a;
  display: inline-block;
  padding: 10px;
  position: relative;
  text-align: center;
  transition: 600ms ease, color 600ms ease;
}

.to-sign-in-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  span {
    margin-right: 0.3em;
  }
  @include text(13, $lightWeight, $charcoal);
  #to-sign-in {
    @include text(13, $boldWeight, $mainColor);
  }
}




// input[type="radio"].toggle {
//   display: none;
//   & + label {
//     cursor: pointer;
//     min-width: 60px;
//     &:hover {
//       background: none;
//       color: #1a1a1a;
//     }
//     &:after {
//       background: $mainColor;
//       content: "";
//       height: 100%;
//       position: absolute;
//       top: 0;
//       transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
//       width: 100%;
//       z-index: -1;
//     }
//   }
//   &.toggle-left + label {
//     border-right: 0;
//     &:after {
//       left: 100%;
//     }
//   }
//   &.toggle-right + label {
//     margin-left: -5px;
//     &:after {
//       left: -100%;
//     }
//   }
//   &:checked + label {
//     cursor: default;
//     color: #fff;
//     transition: color 200ms;
//     &:after {
//       left: 0;
//     }
//   }
// }